
<ul>
<li>Only an authorized person is allowed to create, edit and delete a record.
</li>
 <li>If you are not logged in and you try to create, edit or delete a student 
 record then you will be redirected to a login page.
 </li>
 <li>On successful login, you will be redirected to the previous screen.
 </li> 
<li> On failure to provide the right username, password you will be 
 redirected to the login screen
 </li>
 <li>When a person is logged in, the menu turn into logout.
 </li>
<ul>


 
