<h3>Learn to Paint</h3>
<div>
<video  controls id="video" width="400px">
   <source src="videos/painting_tutorial.mp4">
   <p>Sorry, your browser does not support this video format</p>
</video>    
</div>
<h4>A creative commons video </h4>