 <form method="POST" action="/students/create" onSubmit="return validateStudentForm();">
    <p id="errorMessage"></p>
    <%= erb :'studentViews/student_form' %>
    <br>
    <input class="button" type="submit" value="Submit">
 </form>